---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


/* Adding to CV format*/
h1 {
    font-size: 35px;
    color: rgb(0, 118, 172);
    text-align:center;
    margin-bottom:15px;
}

/* Titles of categories */
h2 {
    color: #2b0b00;
}


/* Definitions */
dt {
    float: left;
    clear: left;
    width: 20%;
    color: rgb(0, 118, 172);
}
dd {
    margin-left: 20%;
}
p {
    margin-top:0;
    margin-bottom:8px;
}




